<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bhajans.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bhajans.Properties.Settings.sai_bhajans5ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database\sai_bhajans5.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Bhajans.Properties.Settings>
            <setting name="InsertBeforeOrAfter" serializeAs="String">
                <value>Before</value>
            </setting>
            <setting name="ReferenceSlideIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TitleTextBoxIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BodyTextBoxIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BhajanNumberTextBoxIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NextBhajanTextBoxIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TranslationTextBoxIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TitleTextBoxCharacteristics" serializeAs="String">
                <value>Dimensions=25:25:675:75,Font=Constantia:40:bold,Color=204:255:204</value>
            </setting>
            <setting name="BodyTextBoxCharacteristics" serializeAs="String">
                <value>Dimensions=25:100:675:300,Font=Constantia:26:bold,Color=204:255:204</value>
            </setting>
            <setting name="TranslationTextBoxCharacteristics" serializeAs="String">
                <value>Dimensions=25:400:675:100,Font=Constantia:16,Color=204:255:204</value>
            </setting>
            <setting name="BhajanNumberTextBoxCharacteristics" serializeAs="String">
                <value>Dimensions=25:500:40:20,Font=Constantia:18,Color=204:255:204</value>
            </setting>
            <setting name="NextBhajanTextBoxCharacteristics" serializeAs="String">
                <value>Dimensions=400:500:300:20,Font=Constantia:18,Color=204:255:204</value>
            </setting>
            <setting name="UseReferenceSlide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongsFolder" serializeAs="String">
                <value>Songs</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>Bhajans</value>
            </setting>
            <setting name="PowerPointTemplateLocation" serializeAs="String">
                <value>Template\Bhajans.ppt</value>
            </setting>
            <setting name="BhajanStartsWithFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchTitleOnlyFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideRowsWithEmptyScalesFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PowerPointEmptyTemplateLocation" serializeAs="String">
                <value>Template\BhajansEmpty.ppt</value>
            </setting>
            <setting name="NextBhajanFormat" serializeAs="String">
                <value>Next: (%scale%) %leader%-%title%</value>
            </setting>
        </Bhajans.Properties.Settings>
    </userSettings>
</configuration>